<!-- Extends Body Template -->
{% extends "base.html" %}

<!-- Title Block -->
{% block title %} Survey Finished - Thank You! {% endblock %}

<!-- Body Block -->
{% block body %}
<div>
  <h1 class="mb-3">Thank You!</h1>

  <h4>Survey Answers:</h4>
  <ol>
    {% for answer_item in display_answers %}
    <li>
      <strong>{{ answer_item['question'] }}</strong>
      {{ answer_item['choice'] }} {% if answer_item['comment'] %}
      <span>{{ answer_item['comment'] }}</span> {% endif %}
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
